@model IEnumerable<CassandraKafkaDemo.Models.PersonModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <h2>Persons</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>UUID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Active?</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(mItem => item.Id)</td>
                        <td>@Html.DisplayFor(mItem => item.Name)</td>
                        <td>@Html.DisplayFor(mItem => item.Email)</td>
                        <td>@Html.DisplayFor(mItem => item.Phone)</td>
                        <td>@Html.DisplayFor(mItem => item.IsActive)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <h2>Create</h2>
        <div class="form-group-sm">
            <div class="row">
                <div class="col-md-12">
                    <label for="personName">Name</label>
                    <input name="personName" type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="phone">Phone</label>
                    <input name="phone" type="number" class="form-control" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12 text-right">
                    <!--<a name="create" class="btn btn-primary" role="button" asp-controller="Home" asp-action="CreatePerson">Create</a>-->
                    <!--<button name="create" type="button" class="btn btn-primary" onclick="location.href='@Url.Action("CreatePerson", "Home")'">Create</button>-->
                    <button name="create" type="button" class="btn btn-primary">Create</button>
                    <script>
                        $(document).off('click', 'button[name=create');
                        $(document).on('click', 'button[name=create]', function () {
                            $.ajax({
                                url: '/Home/CreatePerson',
                                type: 'POST',
                                dataType: 'json',
                                data: {
                                    personName: $('input[name=personName]').val(),
                                    email: $('input[name=email]').val(),
                                    phone: $('input[name=phone]').val()
                                },
                                success: function (res) {
                                    console.log(res);
                                },
                                error: function () {
                                    console.log('error');
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
